<!DOCTYPE html>
<html>
  <head>
    <title>The BBQ Log</title>
    <link rel='stylesheet' href='/stylesheets/stylesheet.css' />
  </head>
  <body>
    <center>
    	<div class="div_text_shadow">
			The BBQ Log
		</div>
    	<h1>Keep track of your barbecue cooks, all in one place!</h1>
    	<h2>Name your cook:</h2>
      <p><input type="text" value="Name" id="cookName"></p>
      <form action="/users/new">
    		<input type="submit" value="Create a new log" class="btn">
		</form>
    </center>		
  </body>
</html>
