<% include ../partials/header %>

<form name="new_user_form" id="new_user_form" method="post" action="/time">
		
		<table class="tftable" border="1" name="notes">
			<tr><th>Notes (meat source, expiration date, price, weight, fresh/frozen, injection, brine, rub, mop)</th></tr>
			</table>
			<textarea name="notes" rows="2" cols="100" class="tftable" id="notes"></textarea>

			<table class="tftable" border="1">
			<tr><th>Time</th><th>Cooker Target Temp</th><th>Cooker Actual Temp</th><th>Meat Temp</th><th>Ambient Temp, Weather</th><th>Action taken: Vents, wood, fuel, water, mop, turn, etc.</th></tr>
			<tr><td><input type="text" name="time" id="time"></td><td><input type="text" name="targetTemp" id="targetTemp"></td><td><input type="text" name="actualTemp" id="actualTemp"></td><td><input type="text" name="meatTemp" id="meatTemp"></td><td><input type="text" name="ambientTemp" id="ambientTemp"></td><td><input type="text" name="actions" size="40"></td></tr>
			
		</table>

		<table class="tftable" border="1" name="finishing_serving">
			<tr><th>Finishing and serving (seasoning, sauce, accompaniments)</th>
		</table>
		<textarea name="finishing_serving" rows="3" cols="100" class="tftable" id="finishing_serving"></textarea>

		<table class="tftable" border="1" name="finished_product">
			<tr><th>Finished product (aroma, bark, color, smokering, texture, tenderness, moistness, smokiness, flavor)</th>
		</table>
		<textarea name="finished_product" rows="3" cols="100" class="tftable" id="finished_product"></textarea>

		<table class="tftable" border="1" name="next_time">
			<tr><th>Next Time:</th>
		</table>
		<textarea name="next_time" rows="2" cols="100" class="tftable" id="next_time"></textarea>
		<table class="tftable" border="1" name="next_time">
			<tr><th>Overall Rank (1-10):</th>
		</table>
		<textarea name="rank" rows="1" cols="100" class="tftable" id="rank"></textarea>
		
		<input type="submit" name="formSubmit" value="Save">
	</form>

<% include ../partials/footer %>